
 @font-face { font-style : bold; src: url("assets/fonts/MontserratRomanBold.ttf"); font-family : "Montserrat"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/MontserratRomanSemiBold.ttf"); font-family : "Montserrat"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/MontserratRomanExtraBold.ttf"); font-family : "Montserrat"; font-weight : 800;  }